.faq-title
  padding-bottom: 10px

.qa
  margin-top: 5px
  &.expanded
    margin-top: 0
    padding-bottom: 10px
    .question
      background-color: $gray2
      padding: 5px 0

.question
  color: $orange
  line-height: 38px
  cursor: pointer
  &:hover
    text-decoration: underline

.answer
  padding: 10px 20px
  transition: max-height .2s ease-in
  border: 2px $gray2 solid
  border-top: none
  overflow: hidden
  font-size: 0.8em

