$app-full = 1000px
$app-medium = 600px
$app-small = 440px

html
  background-color: $gray1
  color: $black
  font-size: 18px

a,
a:link,
a:visited,
a:active
a:focus
  color: $orange
  font-weight: 400
  text-decoration: none

a:hover
  color: $orange-dark

#app
  height: 100%
  margin: 0 auto

.container
  width: 100%
  height: 100%
  min-height: 400px
  display: flex
  flex-direction: row

.content
  position: relative
  padding: 60px 40px
  padding-right: "calc((100vw - %s)/2 + 40px)" % $app-full;
  flex-grow: 1
  text-align: center
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  background-color: $gray1

.footer
  line-height: 38px
  font-size: 0.8rem
  a
    font-weight: 300
  .site
    margin-left: 15px

@media screen and (max-width: $app-full)
  body
    overflow-y: scroll
    height: calc(100vh - 38px - 4vw - 2px)
    margin-top: calc(38px + 4vw + 2px)
  .container
    flex-direction: column
  .content
    overflow-y: initial
    padding: 4vw
    > div
      margin-bottom: 6vw
  .footer
    line-height: normal

@media screen and (max-width: $app-medium)
  html
    font-size: 16px
  body
    height: calc(100vh - 38px - 20px - 2px)
    margin-top: calc(38px + 20px + 2px);
  .content
    padding: 20px
    > div
      margin-bottom: 60px

