.selection
  .Select
    margin-top: 5px
    width: 65px
    text-align: left
  .Select-value,
  .Select-option
    padding-left: 20px !important
  .Select-option.is-focused
    background-color: $orange-lightest

.menu-options
  margin-left: 20px
  display: inline-block
  vertical-align: top
  width: 82px
  height: 250px
  padding-top: 90px
  text-align: left

.menu-caption
  font-size: 1.25em

.menu-images
  width: 250px
  height: 250px
  opacity: 0.85
  cursor: pointer
  display: inline-block
  position: relative

.menu-image
  background-size: 100%
  background-repeat: no-repeat
  width: 100%
  height: 100%
  position: absolute
  left: 0
  right: 0
  opacity: 0
  transition: opacity 1s linear
  &.active
    opacity: 1
  &.vanilla
    &.ingredients
      background-image: url('/images/vanilla/vanilla-ingredients-low.jpg')
    &.torched
      background-image: url('/images/vanilla/vanilla-torched-low.jpg')
    &.spoon
      background-image: url('/images/vanilla/vanilla-spoon-low.jpg')
  &.matcha
    &.ingredients
      background-image: url('/images/matcha/matcha-ingredients-low.jpg')
    &.torched
      background-image: url('/images/matcha/matcha-torched-low.jpg')
    &.spoon
      background-image: url('/images/matcha/matcha-spoon-low.jpg')
  &.earlgrey
    &.ingredients
      background-image: url('/images/earlgrey/earlgrey-ingredients-low.jpg')
    &.torched
      background-image: url('/images/earlgrey/earlgrey-torched-low.jpg')
    &.spoon
      background-image: url('/images/earlgrey/earlgrey-spoon-low.jpg')

@media screen and (max-width: 600px)
  .menu-images
    width: 200px
    height: 200px
  .menu-options
    height: 200px
    padding-top: 65px
