extends layout

block content
  div.container
    div.banner C'est la Creme
    div Coming Soon
    br
    div.social
      a.ion.ion-social-instagram(href="https://www.instagram.com/cestlacreme")
      a.ion.ion-social-facebook(href="https://www.facebook.com/cestlacreme")
      a.ion.ion-social-twitter(href="https://www.twitter.com/cestlacreme")
  
