* {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Source Sans Pro', Helvetica, arial, sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
html {
  background-color: #f8f8f8;
  color: #f5b367;
}
a,
a:link,
a:visited,
a:active,
a:focus {
  color: #303030;
  font-weight: 300;
  text-decoration: none;
}
a:hover {
  color: #9d9d9d;
}
#app {
  height: 100%;
  margin: 0 auto;
}
.container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: row;
}
.navigation {
  width: 300px;
  margin-left: calc((100vw - 1000px)/2);
  position: relative;
  flex-shrink: 0;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  border-right: 2px #e8e8e8 solid;
}
.brand {
  height: 80px;
  line-height: 80px;
  text-align: right;
  font-size: 30px;
  letter-spacing: 2px;
}
.brand a {
  font-weight: 700;
}
.content {
  position: relative;
  padding: 60px 40px;
  padding-right: calc((100vw - 1000px)/2 + 40px);
  flex-grow: 1;
  overflow: scroll;
  background-color: #f8f8f8;
}
.links {
  font-size: 30px;
  text-align: right;
  flex-grow: 1;
}
.link {
  display: block;
  margin-bottom: 10px;
}
.link .active {
  color: #9d9d9d;
  position: relative;
}
.link .active:after {
  content: "\2022";
  position: absolute;
  right: -20px;
  color: #b0b0b0;
}
.social {
  font-size: 30px;
  text-align: right;
  flex-shrink: 0;
}
.social .ion-icon {
  margin-left: 20px;
}
.instagram {
  outline: 1px #f00 solid;
  text-align: center;
}
.instagram-thumbnail {
  outline: 1px #00f solid;
  display: inline-block;
  margin: 10px;
  width: 180px;
  height: 180px;
  overflow: hidden;
  opacity: 0.6;
}
.instagram-thumbnail img {
  width: 240px;
  height: 240px;
  margin-top: -30px;
  margin-left: -30px;
}
.instagram-thumbnail:hover {
  opacity: 1;
}
@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .navigation {
    width: 100%;
    max-width: none;
    margin-left: initial;
    padding: 20px 40px;
    border-right: none;
    border-bottom: 2px #e8e8e8 solid;
    flex-direction: row;
  }
  .brand {
    text-align: center;
    padding-right: 40px;
    font-size: 3vw;
    line-height: 38px;
    height: initial;
  }
  .links {
    text-align: left;
    font-size: 3vw;
  }
  .link {
    margin-bottom: 0;
    margin-right: 15px;
    display: inline-block;
    line-height: 38px;
  }
  .link .active:after {
    right: 0;
    bottom: -24px;
    width: 100%;
    text-align: center;
  }
  .social {
    font-size: 3vw;
  }
  .social a {
    line-height: 38px;
  }
  .content {
    padding: 40px;
  }
}
@media screen and (max-width: 600px) {
  .navigation {
    padding: 10px 20px;
  }
  .content {
    padding: 20px;
  }
  .brand {
    font-size: 18px;
    letter-spacing: 1px;
    padding-right: 20px;
  }
  .link {
    font-size: 18px;
  }
  .social {
    font-size: 18px;
  }
}
