* {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Source Sans Pro', Helvetica, arial, sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
}
a,
a:link,
a:visited,
a:active,
a:focus {
  color: #e8e8e8;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: #f8f8f8;
}
::-moz-selection {
  background: #faedcb;
  text-shadow: none;
}
::selection {
  background: #faedcb;
  text-shadow: none;
}
html {
  background-color: #f8f8f8;
  color: #222;
  font-size: 18px;
}
a,
a:link,
a:visited,
a:active,
a:focus {
  color: #ecb937;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: #be8e12;
}
#app {
  height: 100%;
  margin: 0 auto;
}
.container {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: row;
}
.content {
  position: relative;
  padding: 60px 40px;
  padding-right: calc((100vw - 1000px)/2 + 40px);
  flex-grow: 1;
  text-align: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #f8f8f8;
}
.bold {
  font-weight: 400;
}
.note {
  font-size: 0.8em;
  font-style: italic;
  color: #505050;
}
.break {
  width: 2px;
  height: 2px;
  background-color: #b0b0b0;
  opacity: 0.5;
  position: relative;
  margin: 25px auto;
}
.break:before,
.break:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #b0b0b0;
  opacity: 0.3;
}
.break:before {
  left: -53px;
}
.break:after {
  right: -53px;
}
.footer {
  line-height: 38px;
  font-size: 0.8em;
}
.footer a {
  font-weight: 300;
}
.footer .site {
  margin-left: 15px;
}
@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .content {
    padding: 4vw;
  }
  .footer {
    line-height: normal;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
  .content {
    padding: 20px;
    padding-bottom: 40px;
  }
}
.nav {
  width: 300px;
  margin-left: calc((100vw - 1000px)/2);
  position: relative;
  flex-shrink: 0;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  border-right: 2px #e8e8e8 solid;
}
.nav a,
.nav a:link,
.nav a:visited,
.nav a:active,
.nav a:focus {
  font-weight: 300;
  color: #9d9d9d;
}
.nav a:hover {
  color: #303030;
}
.nav-logo {
  background-image: url("/images/logo-light.png");
  background-size: 135%;
  background-repeat: no-repeat;
  background-position: -40px -50px;
  height: 175px;
  width: 220px;
  margin-top: -20px;
}
.nav-links {
  margin-top: 20px;
  font-size: 30px;
  text-align: right;
  flex-grow: 1;
}
.nav-link {
  display: block;
  margin-bottom: 10px;
}
.nav-link .active {
  color: #303030 !important;
  position: relative;
}
.nav-link .active:after {
  content: "\2022";
  position: absolute;
  right: -20px;
  color: #808080 !important;
}
@media screen and (max-width: 1000px) {
  .nav {
    width: 100%;
    max-width: none;
    margin-left: initial;
    padding: 2vw 4vw;
    border-right: none;
    border-bottom: 2px #e8e8e8 solid;
    flex-direction: row;
  }
  .nav-brand {
    padding-right: 4vw;
    line-height: 38px;
  }
  .nav-logo {
    background-size: 135%;
    background-position: -33px -155px;
    height: 38px;
    width: 185px;
    margin-top: 0;
  }
  .nav-links {
    margin-top: 0;
    text-align: left;
    font-size: 3vw;
  }
  .nav-link {
    margin-bottom: 0;
    margin-right: 15px;
    display: inline-block;
    line-height: 38px;
  }
  .nav-link .active:after {
    right: 0;
    bottom: -24px;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .nav {
    padding: 10px 20px;
  }
  .nav-brand {
    padding-right: 20px;
  }
  .nav-logo {
    background-size: 250%;
    height: 38px;
    width: 38px;
    background-position: 50% 28%;
  }
  .nav-link {
    font-size: 18px;
  }
}
.nav-social {
  font-size: 30px;
  text-align: right;
  flex-shrink: 0;
  margin-top: 10px;
}
.nav-social .ion-icon {
  margin-left: 20px;
}
@media screen and (max-width: 1000px) {
  .nav-social {
    margin-top: 0;
    font-size: 3vw;
  }
  .nav-social a {
    line-height: 38px;
  }
}
@media screen and (max-width: 600px) {
  .nav-social {
    font-size: 18px;
  }
}
.instagram {
  text-align: center;
}
.instagram-link {
  font-size: 0;
}
.instagram-thumbnail {
  display: inline-block;
  margin: 5px 10px;
  width: 180px;
  height: 180px;
  overflow: hidden;
  opacity: 0.8;
}
.instagram-thumbnail img {
  width: 226px;
  height: 226px;
  margin-top: -23px;
  margin-left: -23px;
}
.instagram-thumbnail:hover {
  opacity: 1;
}
@media screen and (max-width: 440px) {
  .instagram-link:nth-child(n + 4) {
    display: none;
  }
  .instagram-link:nth-child(n + 3) .instagram-thumbnail {
    margin-bottom: 0;
  }
  .instagram-thumbnail {
    width: 60vw;
    height: 60vw;
    overflow: hidden;
    opacity: 1;
    margin-bottom: 20px;
  }
  .instagram-thumbnail img {
    width: 80vw;
    height: 80vw;
    margin-top: -10vw;
    margin-left: -10vw;
  }
}
.stripe {
  outline: 1px #f00 solid;
}
.stripe-card {
  text-align: left;
}
.stripe-form {
  margin-top: 20px;
}
.react-credit-card {
  min-width: 280px;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
.react-credit-card__container {
  margin: 0 auto;
}
.react-credit-card__front,
.react-credit-card__back {
  background: #9d9d9d;
}
.react-credit-card__front {
  opacity: 1;
}
.react-credit-card__back {
  transform: none;
  opacity: 0;
}
.react-credit-card--focused {
  font-weight: 400;
}
.react-credit-card--flipped {
  transform: none;
}
.react-credit-card--flipped .react-credit-card__front {
  opacity: 0;
}
.react-credit-card--flipped .react-credit-card__back {
  opacity: 1;
}
.react-credit-card__expiry {
  text-align: right;
}
.react-credit-card__expiry:before {
  margin-right: 3px;
}
.react-credit-card__expiry:after {
  bottom: 5px;
  margin-right: -11px;
}
.react-credit-card__name {
  bottom: -4px;
}
.react-credit-card__container {
  min-width: 280px;
  max-width: 350px;
  width: auto;
}
.react-credit-card__shiny:after {
  width: 200px;
}
.selection .Select {
  margin-top: 5px;
  width: 65px;
  text-align: left;
}
.selection .Select-value,
.selection .Select-option {
  padding-left: 20px !important;
}
.selection .Select-option.is-focused {
  background-color: #fdf9ee;
}
.menu-options {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  width: 82px;
  height: 250px;
  padding-top: 90px;
  text-align: left;
}
.menu-caption {
  font-size: 1.25em;
}
.menu-images {
  width: 250px;
  height: 250px;
  opacity: 0.85;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.menu-image {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 1s linear;
}
.menu-image.active {
  opacity: 1;
}
.menu-image.vanilla.ingredients {
  background-image: url("/images/vanilla/vanilla-ingredients-low.jpg");
}
.menu-image.vanilla.torched {
  background-image: url("/images/vanilla/vanilla-torched-low.jpg");
}
.menu-image.vanilla.spoon {
  background-image: url("/images/vanilla/vanilla-spoon-low.jpg");
}
.menu-image.matcha.ingredients {
  background-image: url("/images/matcha/matcha-ingredients-low.jpg");
}
.menu-image.matcha.torched {
  background-image: url("/images/matcha/matcha-torched-low.jpg");
}
.menu-image.matcha.spoon {
  background-image: url("/images/matcha/matcha-spoon-low.jpg");
}
.menu-image.earlgrey.ingredients {
  background-image: url("/images/earlgrey/earlgrey-ingredients-low.jpg");
}
.menu-image.earlgrey.torched {
  background-image: url("/images/earlgrey/earlgrey-torched-low.jpg");
}
.menu-image.earlgrey.spoon {
  background-image: url("/images/earlgrey/earlgrey-spoon-low.jpg");
}
@media screen and (max-width: 600px) {
  .menu-images {
    width: 200px;
    height: 200px;
  }
  .menu-options {
    height: 200px;
    padding-top: 65px;
  }
}
.faq-title {
  padding-bottom: 10px;
}
.qa {
  margin-top: 5px;
}
.qa.expanded {
  margin-top: 0;
  padding-bottom: 10px;
}
.qa.expanded .question {
  background-color: #f0f0f0;
  padding: 5px 0;
}
.question {
  color: #ecb937;
  line-height: 38px;
  cursor: pointer;
}
.question:hover {
  text-decoration: underline;
}
.answer {
  padding: 10px 20px;
  transition: max-height 0.2s ease-in;
  border: 2px #f0f0f0 solid;
  border-top: none;
  overflow: hidden;
  font-size: 0.8em;
}
